<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>[ -f &quot;$TM_NEW_FILE&quot; ] ||  perl -pe &apos;s/\$\{([^}]*)\}/$ENV{$1}/g&apos; &lt;index.html &gt;&quot;$TM_NEW_FILE&quot;</string>
	<key>extension</key>
	<string>html</string>
	<key>name</key>
	<string>HTML — 5</string>
	<key>scope</key>
	<string>text.html</string>
	<key>uuid</key>
	<string>79DE1A1A-DCD0-4E2F-B20B-8FEFE97A7270</string>
</dict>
</plist>
